/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto');

body {
    background-color: #6782B4
}

.container {
    max-width: 1350px;
}

.form-container {
    background: #FFFFFF;
    width: 640px;
    height: 480px;
    margin: 0 auto;
    position: relative;
    margin-top: 15%;
    box-shadow: 2px 5px 20px #777777;
    padding: 10px;
    float: left
}

.car-image {
    width: 640px;
    height: 480px;
    margin-top: 15%;
    margin-left: 10px;
}

.form-container > * {
    font-family: 'Monserrat',sans-serif;
    color: #6782B4;
}

label {
    font-family: 'Roboto', sans-serif;
    color: #777777;
}

btn {
    background-color: #6782B4;
}