@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="form-container">
    <form method="post">
        <h2>Used Car Prediction Service</h2>
        <div class="form-group">
            <label asp-for="CarInfo.Year"></label>
            <select class="form-control" asp-for="CarInfo.Year" asp-items="Model.CarYearSL"></select>
        </div>
        <div class="form-group">
            <label asp-for="CarInfo.Mileage"></label>
            <input class="form-control" asp-for="CarInfo.Mileage" />
        </div>
        <div class="form-group">
            <label>Make and Model</label>
            <select class="form-control" asp-for="CarModelDetailId" asp-items="Model.CarMakeSL"></select>
        </div>
        <button class="btn btn-secondary" type="submit">Predict Price</button>
        <br />
        @if (Model.ShowPrice)
        {
            <h3>Price @Model.CarInfo.Price</h3>
        }
    </form>
</div>